body {
	
	background-image: url(images/SEASON12.jpg); /* adds a bg image */
color: #0080FF;
font-family: Times;
font-style: bold
}

.container{
	width: 960px; /* creates a fixed width layout of 960px wide */
    margin: 0 auto; /* removes margin from top/bottom, automatically  */

}

.logo {
    border-radius: 50%;
}

header {padding-top: 25px;}

header h1 {
	text-align: center; 
	margin-right: 15px;
	background-color: #99ccff;
	color: white
}
header, footer {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
    background-color: #99ccff
}

nav li {
    display: inline;
    padding: 5px;
}

nav a:active, nav a:hover, nav a:visited, nav a:link {
    text-decoration: none;
    color: #003366;
}

nav a:hover {
    font-weight: bold;
    background-color: #0080ff;
}

main{
	color:#0080FF;
}
section{
	width: 90%;
	padding: 10px;

	display: inline-block;
}
aside{
	width: 35%;
	padding: 10px;
	float: bottom right;
}
footer{
	clear: both;
	text-align: bottom-center;
    color:#0080ff;
    background-color: #99ccff
}

