body {
	
	background-image: url(images/SEASON12.jpg); /* adds a bg image */
color: #0080FF;
font-family: Times;
font-style: bold
}

.container{
	width: 960px; /* creates a fixed width layout of 960px wide */
    margin: 0 auto; /* removes margin from top/bottom, automatically  */

}

.logo {
    border-radius: 50%;
}

header {padding-top: 25px;}

header h1 {
	text-align: center; 
	margin-right: 15px;
	background-color: #99ccff;
	color: white
}
header, footer {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color:#0080ff;
    color: white;
    background-color: #0080ff;
}

main{
	color:#0080FF;
}
section{
	width: 90%;
	padding: 10px;

	display: inline-block;
}
aside{
	width: 35%;
	padding: 10px;
	float: bottom right;
}
footer{
	clear: both;
	text-align: bottom-center;
    color: white;
    background-color: #99ccff
}

